.vscode
.demo-minishell
a.out
minishell
obj
lib/libft/libft.a
lib/libft/obj
lib/parser/libparser.a
lib/parser/obj
lib/lexer/liblexer.a
lib/lexer/obj
lib/executer/obj
lib/executer/libexecuter.a
tester
tester.dSYM
tester.o
in
out
pathfinder.dSYM
tests
lib/garbage_collector/libgarbagecollector.a
cat
lib/env/libenv.a
lib/gnl/libgnl.a
jimtests

# Tester
__pycache__/
